@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-grid-pattern {
  background-size: 55px 45px;
  background-image: 
    linear-gradient(to right, rgba(0, 0, 0, 0.1) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
    
  /* This creates the slant */
  transform: skewX(-9deg) scale(1.0); 
  
  /* Origin ensures it stays centered while skewing */
  transform-origin: center;
}